// Open Sans
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	font-display: swap;
	src: url("../../assets/fonts/open-sans/open-sans-regular.ttf") format("truetype");
}
